<?xml version="1.0" encoding="UTF-8" ?>
<!--

    LEIDOS CONFIDENTIAL
    __________________

    (C)[2007]-[2014] Leidos
    Unpublished - All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the exclusive property of Leidos and its suppliers, if any.
    The intellectual and technical concepts contained
    herein are proprietary to Leidos and its suppliers
    and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Leidos.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.webflow">
		<level value="WARN" />
	</logger>

	<logger name="org.jasig" additivity="true">
		<level value="INFO" />
		<appender-ref ref="cas" />
	</logger>

	<logger
		name="com.github.inspektr.audit.support.Slf4jLoggingAuditTrailManager">
		<level value="INFO" />
		<appender-ref ref="cas" />
	</logger>

	<logger name="org.jasig.cas.web.flow" additivity="true">
		<level value="INFO" />
		<appender-ref ref="cas" />
	</logger>


</log4j:configuration>


