<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

  <display-name>Mega Super Timeline</display-name>
	
	<listener>
		<listener-class>com.deleidos.rtws.commons.webapp.listener.WebAppPropertiesListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>httpMethodOverrideFilter</filter-name>
		<filter-class>com.deleidos.rtws.commons.webapp.filter.HttpMethodOverrideFilter</filter-class>
	</filter>
  
	<filter-mapping>
		<filter-name>httpMethodOverrideFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>rtwsSearchApiProxyServlet</servlet-name>
		<servlet-class>com.deleidos.rtws.commons.webauth.servlet.proxy.SearchApiProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>rtwsSearchApiProxyServlet</servlet-name>
		<url-pattern>/proxy/rtws/searchapi/*</url-pattern>
	</servlet-mapping>
	
	<!--  <security-constraint>
		<web-resource-collection>
      		<web-resource-name>Timeline</web-resource-name>
      		<url-pattern>/*</url-pattern>
    	</web-resource-collection>

    	<user-data-constraint>
      		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    	</user-data-constraint>
  	</security-constraint>-->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
