<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- Begin Manual web.xml File -->
    
    <display-name>Content API</display-name>
    
    <!-- Web Application properties listener -->
  
    <listener>
    	<listener-class>com.deleidos.rtws.commons.webapp.listener.LoggingConfig</listener-class>
    </listener>
    
    <context-param>
    	<description>URL to repository</description>
    	<param-name>repositoryURL</param-name>
    	<param-value>http://localhost:8080/repository/rmi</param-value>
    </context-param>
    
    <context-param>
    	<description>User Id to sign on to repository</description>
    	<param-name>userId</param-name>
    	<param-value>username</param-value>
  	</context-param>
  
  	<context-param>
    	<description>Password to sign on to repository</description>
    	<param-name>password</param-name>
    	<param-value>password</param-value>
  	</context-param>
  	
  	<context-param>
    	<description>Root Name of the repository</description>
    	<param-name>rootName</param-name>
    	<param-value>models</param-value>
  	</context-param>
  	
  	<context-param>
    	<description>Root Name of the repository for images</description>
    	<param-name>imageRootName</param-name>
    	<param-value>images</param-value>
  	</context-param>
  	
  	
    <!-- End Manual web.xml File -->

</web-app>
