<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>adobecp</string>
	<key>CFBundleGetInfoString</key>
	<string>"2.0.0.17" "1" ".662599" "." "100" "." "489" "." "2010/04/21 02:26:08"</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.adobecp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright(c) 2008 -2010 Adobe Systems Incorporated</string>
</dict>
</plist>
